# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Custom
.*/
Automatic-Youtube-Downloader/temp/
Automatic-Youtube-Downloader/data/
Automatic-Youtube-Downloader/Download/
Automatic-Youtube-Downloader/error.log
Automatic-Youtube-Downloader/setup.log
Automatic-Youtube-Downloader/main.log
Automatic-Youtube-Downloader/poetry/bin/
Automatic-Youtube-Downloader/poetry/lib/
Automatic-Youtube-Downloader/poetry/lib-backup
Automatic-Youtube-Downloader/poetry.lock
Automatic-Youtube-Downloader/logs/
Automatic-Youtube-Downloader/__pycache__
poetry.lock